<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>mirror - ɹoɹɹıɯ</title>
  <!-- <link rel="stylesheet" href="static/base.css"> -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>

<header>
  <h1>mıɾɾoɾ - ɹoɹɹıɯ</h1>
</header>

<section>

<div id="form_wrapper">
  <form action="" method="POST" accept-charset="utf-8" target="_blank">
  <div id="input_wrapper">
    <span id="http_prefix">http://</span>
    <input type="text" name="url" placeholder="type url here..." value="http://h5.eqxiu.com/s/0MA56gJZ" id="url_entry" autofocus><input id="go_button" type="submit" value="Go">
    <br/>
    测试：
    <ul>
    <li><a href="/eqxiu/h5.eqxiu.com/s/0MA56gJZ" target="_blank">eqxiu测试</a></li>
    <li><a href="/maka/u176573.viewer.maka.im/k/Y6TIFFGZ" target="_blank">maka</a></li>
    <li><a href="/rp/www.rabbitpre.com/m/niQNz2N" target="_blank">rp测试</a></li>
    <li><a href="/wxmsg/mp.weixin.qq.com/s?__biz=MjM5ODUxNzcyNg==&mid=2649431781&idx=1&sn=ee0aee06c20f735f5e3d9afa87553f83&chksm=bed6305489a1b942ea6a0f94cc29c0abd6ffc4e63e181913b0f659aa14f9727f7a81baacdbe4&scene=0#wechat_redirect" target="_blank">微信图文</a></li>


    </ul>
  </div>
  </form>
</div>


</section>

<footer class="secure">
<!--   {% if secure_url %}
  <a href="{{secure_url}}">
  {% endif %}
  <img src="/static/{% if secure_url %}no{% endif %}lock.png" width="16" height="16">
  {% if secure_url %}not secure</a>
  {% else %}secure{% endif %}
 --></footer>

</body>
</html>
